.version.about /* version checker */
{
	color: #000016;
	background-color: #26E480;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1936.850000000003px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u949
{
	z-index: 3;
	border-style: none;
	border-color: transparent;
	background-color: #2FC37B;
	padding-bottom: 0px;
}

#u949_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 35px;
	padding-bottom: 273px;
}

#pu2319
{
	width: 0.01px;
	left: 106px;
	position: relative;
}

#u2319
{
	z-index: 168;
	width: 204px;
	min-height: 58px;
	margin-right: -10000px;
}

#menuu104
{
	z-index: 131;
	width: 402px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 521px;
}

#u129
{
	width: 78px;
	min-height: 34px;
	margin-right: -10000px;
}

#u130
{
	width: 78px;
	padding-bottom: 17px;
}

#u130:hover
{
	margin: 0px;
}

#u130:active
{
	margin: 0px;
}

#u132
{
	height: 17px;
	width: 78px;
	margin-right: -10000px;
	top: 8px;
}

#u136
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 80px;
}

#u139
{
	width: 79px;
	padding-bottom: 17px;
}

#u143
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 161px;
}

#u144
{
	width: 79px;
	padding-bottom: 17px;
}

#u150
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 242px;
}

#u153
{
	width: 79px;
	padding-bottom: 17px;
}

#u122
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 323px;
}

#u123
{
	width: 79px;
	padding-bottom: 17px;
}

#u130.MuseMenuActive,#u139.MuseMenuActive,#u144.MuseMenuActive,#u153.MuseMenuActive,#u123.MuseMenuActive
{
	margin: 0px;
}

#u141,#u147,#u155,#u125
{
	height: 17px;
	width: 79px;
	margin-right: -10000px;
	top: 8px;
}

#u4241-4
{
	z-index: 91;
	display: block;
	vertical-align: top;
	left: 391px;
	margin-top: 58px;
	position: relative;
}

#u4240-11
{
	z-index: 80;
	width: 528px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	color: #E0E0E0;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 316px;
	margin-top: 29px;
	position: relative;
}

#u949-bw
{
	z-index: 3;
	height: 623px;
}

#u4268
{
	z-index: 103;
	border-color: #000000;
	background-color: #2F957B;
}

#u4267
{
	z-index: 105;
	width: 535px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 612px;
}

#u4266-6
{
	z-index: 106;
	width: 409px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	color: #E0E0E0;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u4243-4
{
	z-index: 112;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 409px;
}

#u4268-bw
{
	z-index: 103;
	margin-top: 543px;
	height: 152px;
}

#pu949,#pu1816
{
	width: 0.01px;
	margin-left: -100px;
}

#u1816
{
	z-index: 2;
	border-color: #000000;
	background-color: #F1F1F2;
	padding-bottom: 0px;
}

#u1816_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 50px;
	padding-bottom: 533px;
}

#u951-4
{
	z-index: 5;
	width: 300px;
	min-height: 36px;
	background-color: transparent;
	color: #2FC37B;
	left: 430px;
	position: relative;
}

#u952-4
{
	z-index: 9;
	width: 556px;
	min-height: 124px;
	background-color: transparent;
	text-align: center;
	left: 302px;
	margin-top: 27px;
	position: relative;
}

#u1816-bw
{
	z-index: 2;
	height: 770px;
}

#pamphletu1257
{
	z-index: 13;
	width: 0.01px;
	height: 390px;
	padding-bottom: 158px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 165px;
}

#u1270
{
	position: absolute;
	width: 270px;
	top: 129px;
	left: 237px;
}

#u1270popup
{
	z-index: 14;
}

#u1276
{
	z-index: 15;
	width: 214px;
	height: 112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 15px 15px 15px ;
	-webkit-border-radius: 0px 15px 15px 15px ;
	-khtml-border-radius: 0px 15px 15px 15px ;
	border-radius: 0px 15px 15px 15px ;
	padding-left: 29px;
	padding-top: 12px;
	padding-right: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -237px;
}

#u4292-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-left: 64px;
	position: relative;
}

#u4291-6
{
	z-index: 16;
	width: 214px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	margin-top: 9px;
	position: relative;
}

#u1271
{
	z-index: 26;
	width: 268px;
	height: 149px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 15px 0px ;
	-webkit-border-radius: 15px 15px 15px 0px ;
	-khtml-border-radius: 15px 15px 15px 0px ;
	border-radius: 15px 15px 15px 0px ;
	margin-bottom: -239px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: -229px;
}

#u1271_position_content
{
	padding-top: 23px;
	padding-bottom: 15px;
}

#u4281-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	margin-left: 87px;
	position: relative;
}

#u4282-4
{
	z-index: 31;
	width: 268px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
	position: relative;
}

#u1300
{
	z-index: 35;
	width: 256px;
	height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 15px 0px ;
	-webkit-border-radius: 15px 15px 15px 0px ;
	-khtml-border-radius: 15px 15px 15px 0px ;
	border-radius: 15px 15px 15px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: -14px;
	left: 243px;
	padding: 20px 4px 19px 3px;
}

#u4305-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 86px;
	position: relative;
}

#u4304-4
{
	z-index: 36;
	width: 256px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	margin-top: 9px;
	position: relative;
}

#u1307
{
	z-index: 44;
	width: 268px;
	height: 112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 15px 0px ;
	-webkit-border-radius: 15px 15px 15px 0px ;
	-khtml-border-radius: 15px 15px 15px 0px ;
	border-radius: 15px 15px 15px 0px ;
	margin-bottom: -263px;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: -51px;
	padding: 16px 54px 39px 53px;
}

#u4276-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-left: 92px;
	position: relative;
}

#u4280-6
{
	z-index: 49;
	width: 268px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	margin-top: 6px;
	position: relative;
}

#u1309
{
	z-index: 55;
	width: 238px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 15px 0px ;
	-webkit-border-radius: 15px 15px 15px 0px ;
	-khtml-border-radius: 15px 15px 15px 0px ;
	border-radius: 15px 15px 15px 0px ;
	padding-left: 2px;
	padding-top: 17px;
	padding-right: 1px;
	margin-bottom: -222px;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 253px;
}

#u4273-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-left: 50px;
	position: relative;
}

#u4275-4
{
	z-index: 60;
	width: 238px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u1281
{
	z-index: 64;
	width: 227px;
	height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	padding: 6px 21px 38px 22px;
}

#u4301-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	margin-left: 62px;
	position: relative;
}

#u4300-4
{
	z-index: 65;
	width: 227px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#u1266
{
	z-index: 73;
	width: 600px;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

#u1267
{
	position: absolute;
	width: 124px;
	height: 125px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background: transparent url("../images/passion%20value-1.png") no-repeat center center;
}

#u1267:hover
{
	margin: 0px;
	background: transparent url("../images/passion%20value-2.png") no-repeat center center;
}

#u1267.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
	background: transparent url("../images/passion%20value-2.png") no-repeat center center;
}

#u1268
{
	position: absolute;
	width: 125px;
	height: 127px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 262px;
	left: 3px;
	background: transparent url("../images/modern%20value-1.png") no-repeat center center;
}

#u1268:hover
{
	margin: 0px;
	background: transparent url("../images/modern%20value-2.png") no-repeat center center;
}

#u1268.PamphletThumbSelected
{
	margin: 0px;
	background: transparent url("../images/modern%20value-2.png") no-repeat center center;
}

#u1306
{
	position: absolute;
	width: 126px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 474px;
	background: transparent url("../images/precise%20value-1.png") no-repeat center center;
}

#u1306:hover
{
	margin: 0px;
	background: transparent url("../images/precise%20value-2.png") no-repeat center center;
}

#u1306.PamphletThumbSelected
{
	margin: 0px;
	background: transparent url("../images/precise%20value-2.png") no-repeat center center;
}

#u1308
{
	position: absolute;
	width: 129px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 262px;
	left: 236px;
	background: transparent url("../images/quality%20value-1.png") no-repeat center center;
}

#u1308:hover
{
	margin: 0px;
	background: transparent url("../images/quality%20value-2.png") no-repeat center center;
}

#u1308.PamphletThumbSelected
{
	margin: 0px;
	background: transparent url("../images/quality%20value-2.png") no-repeat center center;
}

#u1310
{
	position: absolute;
	width: 126px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 262px;
	left: 474px;
	background: transparent url("../images/satisfaction%20value-1.png") no-repeat center center;
}

#u1310:hover
{
	margin: 0px;
	background: transparent url("../images/satisfaction%20value-2.png") no-repeat center center;
}

#u1310.PamphletThumbSelected
{
	margin: 0px;
	background: transparent url("../images/satisfaction%20value-2.png") no-repeat center center;
}

#u1269
{
	position: absolute;
	width: 125px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 236px;
	background: transparent url("../images/creative%20value-1.png") no-repeat center center;
}

#u1269:hover
{
	margin: 0px;
	background: transparent url("../images/creative%20value-2.png") no-repeat center center;
}

#u1269.PamphletThumbSelected
{
	margin: 0px;
	background: transparent url("../images/creative%20value-2.png") no-repeat center center;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4392
{
	z-index: 104;
	border-color: #000000;
	background-color: #2F957B;
	padding-bottom: 30px;
}

#u4268_align_to_page,#u4392_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u4417
{
	z-index: 126;
	width: 121px;
	min-height: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 57px;
}

#u4414
{
	z-index: 116;
	width: 548px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 206px;
}

#u4415-9
{
	z-index: 117;
	width: 548px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	color: #E0E0E0;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u4266-2,#u4415-2,#u4415-4
{
	font-weight: 300;
}

#u4266-4,#u4415-6,#u4415-7
{
	font-weight: 400;
}

.js #u4266-6.ose_pre_init,.js #u4243-4.ose_pre_init,.js #u4415-9.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4392-bw
{
	z-index: 104;
	height: 176px;
}

#u1486
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #2BB673;
}

#u1486_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 54px;
	padding-bottom: 162px;
}

#u4424-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	left: 464px;
	position: relative;
}

#pu4444
{
	width: 0.01px;
	left: 122px;
	margin-top: 54px;
	position: relative;
}

#u4444
{
	z-index: 127;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4453
{
	z-index: 129;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u4426-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	left: 218px;
	margin-top: 110px;
	position: relative;
}

#u1486-bw
{
	z-index: 4;
	height: 730px;
}

#u302
{
	z-index: 162;
	padding-bottom: 16px;
}

#u302_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2332
{
	z-index: 169;
	width: 105px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 343px;
}

#u1696
{
	z-index: 163;
	width: 369px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 474px;
}

#u1559-4
{
	z-index: 164;
	margin-right: -10000px;
}

#u302-bw
{
	z-index: 162;
	height: 52px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

