#widgetu3181.fld-err-st #u3184
{
	background: url("../images/u3184-ferr.png") no-repeat 0px 0px;
}

#widgetu3177.fld-err-st #u3179
{
	background: url("../images/u3179-ferr.png") no-repeat 0px 0px;
}

#widgetu3440.fld-err-st #u3443
{
	background: url("../images/u3443-ferr.png") no-repeat 0px 0px;
}

#widgetu3171.fld-err-st #u3172
{
	background: url("../images/u3172-ferr.png") no-repeat 0px 0px;
}

#widgetu3198.fld-err-st #u3200
{
	background: url("../images/u3200-ferr.png") no-repeat 0px 0px;
}

.version.contact /* version checker */
{
	color: #0000ED;
	background-color: #238F56;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 709px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 35px;
}

#pu3033
{
	width: 0.01px;
	margin-left: 6px;
}

#u3033
{
	z-index: 104;
	width: 204px;
	min-height: 58px;
	margin-right: -10000px;
}

#menuu3039
{
	z-index: 105;
	width: 402px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 521px;
}

#u3047
{
	width: 78px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3050
{
	width: 78px;
	padding-bottom: 17px;
}

#u3050:hover
{
	margin: 0px;
}

#u3050:active
{
	margin: 0px;
}

#u3051
{
	height: 17px;
	width: 78px;
	margin-right: -10000px;
	top: 8px;
}

#u3068
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 80px;
}

#u3071
{
	width: 79px;
	padding-bottom: 17px;
}

#u3040
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 161px;
}

#u3043
{
	width: 79px;
	padding-bottom: 17px;
}

#u3061
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 242px;
}

#u3064
{
	width: 79px;
	padding-bottom: 17px;
}

#u3054
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 323px;
}

#u3055
{
	width: 79px;
	padding-bottom: 17px;
}

#u3050.MuseMenuActive,#u3071.MuseMenuActive,#u3043.MuseMenuActive,#u3064.MuseMenuActive,#u3055.MuseMenuActive
{
	margin: 0px;
}

#u3073,#u3046,#u3067,#u3058
{
	height: 17px;
	width: 79px;
	margin-right: -10000px;
	top: 8px;
}

#u3275-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	margin-left: 272px;
	margin-top: 56px;
	position: relative;
}

#pu3277
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 4px;
}

#u3277
{
	z-index: 73;
	border-width: 3px;
	border-style: solid;
	border-color: #2BB673;
	background-color: transparent;
}

#u3277-bw
{
	z-index: 73;
	margin-top: 8px;
}

#u4099
{
	z-index: 74;
	width: 54px;
	height: 54px;
	border-color: #000000;
	background-color: #2BB673;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 467px;
}

#u4105
{
	z-index: 75;
	width: 54px;
	height: 54px;
	border-color: #000000;
	background-color: #2BB673;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 581px;
}

#u4101
{
	z-index: 76;
	width: 54px;
	height: 54px;
	border-color: #000000;
	background-color: #2BB673;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 524px;
}

#u4104
{
	z-index: 77;
	width: 54px;
	height: 54px;
	border-color: #000000;
	background-color: #2BB673;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 638px;
}

#u4106
{
	z-index: 78;
	width: 67px;
	min-height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 461px;
}

#u4109
{
	z-index: 79;
	width: 57px;
	min-height: 66px;
	position: relative;
	margin-right: -10000px;
	left: 523px;
}

#u4112
{
	z-index: 80;
	width: 67px;
	min-height: 70px;
	overflow: hidden;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u4115
{
	z-index: 81;
	width: 52px;
	min-height: 61px;
	overflow: hidden;
	position: relative;
	margin-right: -10000px;
	left: 640px;
}

#pamphletu4126
{
	z-index: 82;
	width: 0.01px;
	height: 54px;
	padding-bottom: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 390px;
}

#u4133
{
	position: absolute;
	width: 381px;
	top: 61px;
}

#u4133popup
{
	z-index: 83;
}

#u4144
{
	z-index: 84;
	width: 379px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 15px 15px ;
	-webkit-border-radius: 0px 0px 15px 15px ;
	-khtml-border-radius: 0px 0px 15px 15px ;
	border-radius: 0px 0px 15px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u4165-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 70px;
}

#u4139
{
	z-index: 89;
	width: 379px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 15px 15px ;
	-webkit-border-radius: 0px 0px 15px 15px ;
	-khtml-border-radius: 0px 0px 15px 15px ;
	border-radius: 0px 0px 15px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u4097-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 90px;
}

#u4149
{
	z-index: 94;
	width: 111px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u4152
{
	position: absolute;
	width: 54px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.ie #u4152
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4152.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u4150
{
	position: absolute;
	width: 54px;
	height: 54px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 57px;
}

.ie #u4152.PamphletThumbSelected,.ie #u4150
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4150.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

.ie #u4150.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#widgetu3169
{
	z-index: 2;
	width: 0.01px;
	height: 444px;
	margin-left: 123px;
	margin-top: 15px;
	position: relative;
}

#widgetu3177
{
	z-index: 3;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u3179
{
	z-index: 5;
	height: 20px;
	width: 314px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u3179.png") no-repeat 0px 0px;
}

#u3180-4
{
	z-index: 7;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #51B384;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 1;
	color: #97999B;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu3177.non-empty-st #u3180-4
{
	background-color: #FFFFFF;
}

#widgetu3177:hover #u3180-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3177.focus-st #u3180-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3177.non-empty-st #u3180-4 *
{
	color: #4F4F4F;
}

#widgetu3177:hover #u3180-4 *
{
	color: #4F4F4F;
	font-style: italic;
}

#widgetu3177.focus-st #u3180-4 *
{
	color: #4F4F4F;
	text-decoration: none;
	font-style: italic;
}

#widgetu3181
{
	z-index: 11;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: -1px;
}

#widgetu3181.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 73px -10000px 0px 0px;
}

#u3184
{
	z-index: 13;
	height: 20px;
	width: 314px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u3184.png") no-repeat 0px 0px;
}

#u3182-4
{
	z-index: 15;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #51B384;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 1;
	color: #97999B;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3181.non-empty-st #u3182-4
{
	background-color: #FFFFFF;
}

#widgetu3181:hover #u3182-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3181.focus-st #u3182-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3181.non-empty-st #u3182-4 *
{
	color: #4F4F4F;
}

#widgetu3181:hover #u3182-4 *
{
	color: #4F4F4F;
	font-style: italic;
}

#widgetu3181.focus-st #u3182-4 *
{
	color: #4F4F4F;
	text-decoration: none;
	font-style: italic;
}

#u3185-4
{
	z-index: 19;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 419px;
	left: 140px;
}

#widgetu3169.frm-sub-st #u3185-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3175-4
{
	z-index: 23;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 419px;
	left: 140px;
}

#widgetu3169.frm-subm-err-st #u3175-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3170-4
{
	z-index: 27;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 419px;
	left: 140px;
}

#widgetu3169.frm-sub-st #u3185-4,#widgetu3169.frm-subm-err-st #u3175-4,#widgetu3169.frm-subm-ok-st #u3170-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu3169.frm-subm-ok-st #u3170-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3176-17
{
	z-index: 31;
	min-height: 29px;
	width: 132px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 578px;
	background: url("../images/u3176-17.png") no-repeat 0px 0px;
}

#u3176-17:hover
{
	background: url("../images/u3176-17-r.png") no-repeat 0px 0px;
}

#u3176-17:active
{
	background: url("../images/u3176-17-m.png") no-repeat 0px 0px;
}

#widgetu3169.frm-sub-st #u3176-17
{
	background: url("../images/u3176-17-fs.png") no-repeat 0px 0px;
}

#widgetu3171
{
	z-index: 48;
	width: 342px;
	height: 197px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

#widgetu3177.fld-err-st,#widgetu3171.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3172
{
	z-index: 50;
	height: 20px;
	width: 314px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u3172.png") no-repeat 0px 0px;
}

#u3173-4
{
	z-index: 52;
	width: 328px;
	min-height: 164px;
	border-width: 1px;
	border-style: solid;
	border-color: #51B384;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 1;
	color: #97999B;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3171.non-empty-st #u3173-4
{
	background-color: #FFFFFF;
}

#widgetu3171:hover #u3173-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 164px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3171.focus-st #u3173-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 164px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3171.fld-err-st #u3173-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 164px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3171.non-empty-st #u3173-4 *
{
	color: #4F4F4F;
}

#widgetu3171:hover #u3173-4 *
{
	color: #4F4F4F;
	font-style: italic;
}

#widgetu3171.focus-st #u3173-4 *
{
	color: #4F4F4F;
	text-decoration: none;
	font-style: italic;
}

#widgetu3171_input,#widgetu3171_prompt
{
	width: 328px;
	min-height: 164px;
	color: #97999B;
	font-family: open-sans, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu3198
{
	z-index: 56;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: -1px;
}

#widgetu3198.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 149px -10000px 0px 0px;
}

#u3200
{
	z-index: 58;
	height: 20px;
	width: 314px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u3200.png") no-repeat 0px 0px;
}

#u3199-4
{
	z-index: 60;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #51B384;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 1;
	color: #97999B;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3198.non-empty-st #u3199-4
{
	background-color: #FFFFFF;
}

#widgetu3198:hover #u3199-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3198.focus-st #u3199-4
{
	border-color: #2BB673;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3177.fld-err-st #u3180-4,#widgetu3181.fld-err-st #u3182-4,#widgetu3198.fld-err-st #u3199-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3198.non-empty-st #u3199-4 *
{
	color: #4F4F4F;
}

#widgetu3198:hover #u3199-4 *
{
	color: #4F4F4F;
	font-style: italic;
}

#widgetu3198.focus-st #u3199-4 *
{
	color: #4F4F4F;
	text-decoration: none;
	font-style: italic;
}

#widgetu3177.fld-err-st #u3180-4 *,#widgetu3181.fld-err-st #u3182-4 *,#widgetu3171.fld-err-st #u3173-4 *,#widgetu3198.fld-err-st #u3199-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu3177_input,#widgetu3177_prompt,#widgetu3181_input,#widgetu3181_prompt,#widgetu3198_input,#widgetu3198_prompt
{
	width: 328px;
	min-height: 14px;
	color: #97999B;
	font-family: open-sans, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu3177.focus-st #widgetu3177_prompt,#widgetu3181.focus-st #widgetu3181_prompt,#widgetu3171.focus-st #widgetu3171_prompt,#widgetu3198.focus-st #widgetu3198_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu3177:hover #widgetu3177_input,#widgetu3177.focus-st #widgetu3177_input,#widgetu3177.fld-err-st #widgetu3177_input,#widgetu3177:hover #widgetu3177_prompt,#widgetu3177.fld-err-st #widgetu3177_prompt,#widgetu3181:hover #widgetu3181_input,#widgetu3181.focus-st #widgetu3181_input,#widgetu3181.fld-err-st #widgetu3181_input,#widgetu3181:hover #widgetu3181_prompt,#widgetu3181.fld-err-st #widgetu3181_prompt,#widgetu3171:hover #widgetu3171_input,#widgetu3171.focus-st #widgetu3171_input,#widgetu3171.fld-err-st #widgetu3171_input,#widgetu3171:hover #widgetu3171_prompt,#widgetu3171.fld-err-st #widgetu3171_prompt,#widgetu3198:hover #widgetu3198_input,#widgetu3198.focus-st #widgetu3198_input,#widgetu3198.fld-err-st #widgetu3198_input,#widgetu3198:hover #widgetu3198_prompt,#widgetu3198.fld-err-st #widgetu3198_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu3177.non-empty-st #widgetu3177_prompt,#widgetu3181.non-empty-st #widgetu3181_prompt,#widgetu3171.non-empty-st #widgetu3171_prompt,#widgetu3198.non-empty-st #widgetu3198_prompt
{
	visibility: hidden;
}

#widgetu3440
{
	z-index: 64;
	width: 340px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 374px;
}

#widgetu3440.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 206px -10000px 0px 0px;
}

#u3443
{
	z-index: 66;
	height: 20px;
	width: 314px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 26px;
	background: url("../images/u3443.png") no-repeat 0px 0px;
}

#u3444
{
	z-index: 68;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3444 input.not_checked + label
{
	background: transparent url("../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u3444 input:not(:checked) + label
{
	background: transparent url("../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u3444 input.checked + label
{
	background: transparent url("../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u3444 input:checked + label
{
	background: transparent url("../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u3444 input.not_checked:hover + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u3444 input:not(:checked):hover + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u3444 input.checked:hover + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u3444 input:checked:hover + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u3444 input.not_checked:active + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u3444 input:not(:checked):active + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u3444 input.checked:active + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u3444 input:checked:active + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu3440_input
{
	width: 16px;
	height: 16px;
}

#u3078
{
	z-index: 97;
	padding-bottom: 15px;
}

#u3078_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -1px;
}

#u3036
{
	z-index: 103;
	width: 105px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 343px;
}

#u3076
{
	z-index: 98;
	width: 369px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 474px;
}

#u3077-4
{
	z-index: 99;
	margin-right: -10000px;
}

#u3078-bw
{
	z-index: 97;
	margin-top: -1px;
	height: 53px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

