.Heading-1
{
	font-family: open-sans-n8, sans-serif;
}

.Paragraph-1,.Qualifications
{
	font-family: open-sans-n3, sans-serif;
}

#u197-25,#u874-15,#u869-14
{
	font-family: open-sans-n3, sans-serif;
}

#u197-7,#u197-9,#u197-11,#u197-21,#u869-2,#u869-4,#u869-9
{
	font-family: open-sans-n6, sans-serif;
}

