.Heading-1
{
	font-family: open-sans-n8, sans-serif;
}

.Paragraph-1,.Qualifications
{
	font-family: open-sans-n3, sans-serif;
}

#u3427-4,#u3762-4,#u4045-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3421-2,#u3530-2,#u3532-2,#u3534-2,#u3536-2,#u3769-2,#u3763-2,#u3757-2,#u3752-2,#u3747-2,#u4051-2,#u4046-2,#u4040-2,#u4033-2,#u4032-2
{
	font-family: open-sans-n8, sans-serif;
}

