.Heading-1
{
	font-family: open-sans-n8, sans-serif;
}

.Paragraph-1,.Qualifications
{
	font-family: open-sans-n3, sans-serif;
}

#u4240-11,#u4266-6,#u4415-9
{
	font-family: open-sans-n3, sans-serif;
}

