.version.services /* version checker */
{
	color: #00001A;
	background-color: #C38EEC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 709px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu3082
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u3082
{
	z-index: 2;
	border-color: #000000;
	background-color: #E0E0E0;
}

#u3082_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 35px;
	padding-bottom: 70px;
}

#pu3033
{
	width: 0.01px;
	left: 106px;
	position: relative;
}

#u3033
{
	z-index: 22;
	width: 204px;
	min-height: 58px;
	margin-right: -10000px;
}

#menuu3039
{
	z-index: 23;
	width: 402px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 521px;
}

#u3047
{
	width: 78px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3050
{
	width: 78px;
	padding-bottom: 17px;
}

#u3050:hover
{
	margin: 0px;
}

#u3050:active
{
	margin: 0px;
}

#u3051
{
	height: 17px;
	width: 78px;
	margin-right: -10000px;
	top: 8px;
}

#u3068
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 80px;
}

#u3071
{
	width: 79px;
	padding-bottom: 17px;
}

#u3040
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 161px;
}

#u3043
{
	width: 79px;
	padding-bottom: 17px;
}

#u3061
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 242px;
}

#u3064
{
	width: 79px;
	padding-bottom: 17px;
}

#u3054
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
	left: 323px;
}

#u3055
{
	width: 79px;
	padding-bottom: 17px;
}

#u3050.MuseMenuActive,#u3071.MuseMenuActive,#u3043.MuseMenuActive,#u3064.MuseMenuActive,#u3055.MuseMenuActive
{
	margin: 0px;
}

#u3073,#u3046,#u3067,#u3058
{
	height: 17px;
	width: 79px;
	margin-right: -10000px;
	top: 8px;
}

#u2855-4
{
	z-index: 3;
	width: 520px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	color: #818285;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 320px;
	margin-top: 89px;
	position: relative;
}

#pu2848
{
	width: 0.01px;
	left: 130px;
	margin-top: 34px;
	position: relative;
}

#u2848
{
	z-index: 7;
	width: 437px;
	height: 146px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #E7FF48 url("../images/services%20thumbnail-1-u2848-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2848:hover
{
	margin: 0px -10000px 0px 0px;
	background: #E7FF48 url("../images/services%20thumbnail%20-%20rollover-1-u2848-r-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2850
{
	z-index: 9;
	width: 437px;
	height: 146px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 462px;
	background: #E7FF48 url("../images/services%20thumbnail-3-u2850-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2850:hover
{
	margin: 0px -10000px 0px 0px;
	background: #E7FF48 url("../images/services%20thumbnail%20-%20rollover-3-u2850-r-fr.jpg") no-repeat left top;
	background-size: cover;
}

#pu2853
{
	width: 0.01px;
	left: 130px;
	margin-top: 22px;
	position: relative;
}

#u2853
{
	z-index: 8;
	width: 437px;
	height: 146px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #E7FF48 url("../images/services%20thumbnail-2-u2853-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2853:hover
{
	margin: 0px -10000px 0px 0px;
	background: #E7FF48 url("../images/services%20thumbnail%20-%20rollover-2-u2853-r-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2854
{
	z-index: 10;
	width: 437px;
	height: 146px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 462px;
	background: #E7FF48 url("../images/services%20thumbnail-4-u2854-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2854:hover
{
	margin: 0px -10000px 0px 0px;
	background: #E7FF48 url("../images/services%20thumbnail%20-%20rollover-4-u2854-r-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u3082-bw
{
	z-index: 2;
	height: 643px;
}

#u2857-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 476px;
}

#u3078
{
	z-index: 15;
	padding-bottom: 15px;
}

#u3078_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u3036
{
	z-index: 21;
	width: 105px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 343px;
}

#u3076
{
	z-index: 16;
	width: 369px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 474px;
}

#u3077-4
{
	z-index: 17;
	margin-right: -10000px;
}

#u3078-bw
{
	z-index: 15;
	margin-bottom: -1px;
	margin-top: 642px;
	height: 53px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -642px;
}

